@model IEnumerable<Tourist_Place.Models.Entity.Place>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<h1>Index</h1>

<table class="table table-active table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <img src="@Url.Content(item.Picture)"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@i" type="button" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@i" type="button" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@i" type="button" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        i++;
}
    </tbody>
</table>

<p>
    <a asp-action="Create" type="button" class="btn btn-warning btn-lg"> Add New Tourist Place </a>
</p>